body {
    color: rgba(0, 0, 0, 0.717);
}
h1 {
    text-align: center;
}

#Portrait {
    margin-left: 43%;
    width: 250px;
    height: 250px;
    border-radius: 150px;
}

#intro {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%
}

.spieces {
    margin-left: 25%;
}

.fishingGear {
    margin-left: 25%;
    margin-right: 25%;
}

h3 {
    text-align: center;
}